[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=新标签页 - Google Chrome
Icon=google-chrome
Exec=/opt/google/chrome/chrome %U
StartupNotify=false
StartupWMClass=Google-chrome
OnlyShowIn=Unity;
X-UnityGenerated=true
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
